<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="defaultConnection" connectionString="data source=(localdb)\MSSqlLocalDb;initial catalog=WorldTests;integrated security=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="ServerIPAddress" value="127.0.0.1"/>
		<add key="ServerPort" value="3100"/>
	</appSettings>
</configuration>